.selected {
  background-color: red;
}

.distributions_calc {
  display: flex;
}

.distributions_info {
  margin: 10px 10px 0 0;
}

.distributions_button {
  margin: 10px 0 0 0;
}

.distributions {
  position: absolute;
  left: 400px;
  top: 0;
}